<%# -*- coding: utf-8 -*-%>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    <link rel="stylesheet" type="text/css" href="default.css">
    <title>Amazon注文履歴</title>
  </head>
  <body>
    <h1>Amazon注文履歴</h1>
    <h2>注文履歴が変換できました</h2> <!--1-->
    <p id="links"><a href="excel_trans.erb">注文履歴をExcelワークシートに変換に戻る</a>｜ <!--2-->
      <a href="index.html">メニュー画面に戻る</a></p>
    <p id="msg">下記の注文履歴を変換しました</p> <!--3-->
    <hr>
    <table>
      <tr>
        <th>取得期間</th>
        <td><%= $term_names[term] %>（<%= term %>）</td>
      </tr>
      <tr>
        <th>保存ファイル名</th>
        <td><%= file %></td>
      </tr>
      <tr>
        <th>Excelファイル名</th>
        <td><%= exfile %></td> <!--4-->
      </tr>
    </table>
    <hr>
  </body>
</html>
