<%# encoding: utf-8 %>
<% require_relative './term_names' %> <!--1-->
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    <link rel="stylesheet" type="text/css" href="default.css">
    <title>Amazon注文履歴</title>
  </head>
  <body>
    <h1>Amazon注文履歴</h1>
    <h2>注文履歴の取得</h2>
    <p id="links"><a href="list01.html">取得済み注文履歴一覧の表示</a>｜
      <a href="index.html">メニュー画面に戻る</a></p> 
    <p id="msg">取得期間とアカウントファイル名を指定して「履歴を取得」を押してください</p>
    <hr>
    <form method="post" action="collect" name="collect_form">
      <table>
        <tr>
          <th>オプション項目名</th><th>オプションデータ</th>
        </tr>
        <tr>
          <td>取得期間</td>
          <td><select name="term" id="selector">
              <% $term_names.each_pair do |key, val| %> <!--2-->
                <option value="<%= key %>"><%= val %></option> <!--3-->
              <% end %> <!--4-->
            </select>
          </td>
        </tr>
        <tr>
          <td>アカウントファイル名</td>
          <td><input type="text" name="account" value="account.json" /></td>
        </tr>
      </table>
      <button class="exec_btn">履歴を取得</button>
    </form>
    <hr>
  </body>
</html>
