<%# encoding: utf-8 %>
<% require_relative './term_names' %>
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    <link rel="stylesheet" type="text/css" href="default.css">
    <title>Amazon注文履歴</title>
  </head>
  <body>
    <h1>Amazon注文履歴</h1>
    <h2 class="alert">注文履歴は取得できませんでした</h2>
    <p id="links"><a href="collect.erb">注文履歴の取得に戻る</a>｜
      <a href="index.html">メニュー画面に戻る</a></p> 
    <p id="msg">取得時に指定した取得期間、アカウントファイル名を見直してください</p>
    <hr>
    <table>
      <tr>
        <th>取得期間</th>
        <td><%= $term_names[term] %>(<%=term%>)</td> <!--1-->
      </tr>
      <tr>
        <th>アカウントファイル名</th>
        <td><%= account %></td> <!--2-->
      </tr>
    </table>
    <hr>
  </body>
</html>
